html {
    background-color: #dcf7e4;
    margin: 0 auto;
    font-family: 'Ysabeau Infant';
}

header {
    position: sticky;
    width: 100%;
}

body{
    margin: 0;
    background-color: white;
}

nav{
    color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width:100%;
    top: 0px;
    overflow: hidden;
}

.nav {
    font-size: 30px;
    line-height: 80px;
    font-weight: bold; 
    padding-left: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
}

nav ul li a{
    font-size: 17px; 
    text-transform: uppercase;
    padding: 30px 40px;
    min-width: 900px;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}

nav a:hover, a:active {
    background-color: black;
    color: white;
    transition: .5s;
    text-decoration: none;
}

#title {
    padding: 10px 30px;
    background-color: #dcf7e4;
}

.pad {
    padding: 10px 45px;
}

.resize {
    width: 900px;
    height: auto;
    border-radius: 20px;
    border: solid black 3px;
    display: block;
    margin: 20px auto;
}
