html {
    margin: 0 auto;
    font-family: 'Ysabeau Infant';
}

body{
    margin: 0
}

header {
    position: sticky;
    width: 100%;
}

nav{
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9b6a6c;
    width:100%;
    top: 0px;
    overflow: hidden;
}

.nav {
    font-size: 30px;
    line-height: 80px;
    font-weight: bold; 
    padding-left: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
}

nav ul li a{
    font-size: 17px; 
    text-transform: uppercase;
    padding: 30px 40px;
    min-width: 900px;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}

nav a:hover, a:active {
    background-color: #e2b4bd;
    color: #424b54;
    transition: .5s;
    text-decoration: none;
}

#content {
    z-index:1;
    background-color: #9b6a6c;
    color: white;
    font-size: 30px;
    margin-left: auto;
    margin-right: 0;
    padding: 20px;
    float: right;
    margin: 50px 70px;
    position: relative;
}

.faceintro {
    background-image: url("me.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#gettoknow {
    padding: 40px 100px;
    background-color: white;
    FONT-SIZE: 20PX;
    color: #424b54;
}

button {
    background-color: #93a8ac;
    border: 2px white solid;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    margin: 20px;
}

button:hover {
    background-color: #424b54;
    color: white;
}
